@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display';
    padding-top: 100px;
}
h2 {
    font-family: 'Playfair Display';
    color: #fff;
}

.navbar-header {
   background-color: #000;
}

#navbar {
    background-color: #000;
}

.navbar.navbar-masthead.navbar-default.navbar-fixed-top {
    background-color: #000;
    background-image: none;
    border-color: #000;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #000;
    background-color: #98648d;
}

/* Centered section inside the top navigation */
a.navbar-brand.topnav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
    font-family: 'Playfair Display';
    color: #7eaaa5;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    background-color: #7eaaa5;
    color: #000;
}

/* index.html */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("contact.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.btn {
    font-family: "Great Vibes";
    background-color: #7eaaa5;
    background-image: none;
    border-color: #7eaaa5;
}


.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.navbar-default .badge {
    background-color: #7eaaa5;
    color: #fff;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}